html, body, #root, .App {
  margin: 0;
  height: 100%;
  background-color: burlywood; 
}

.App {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
}
.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.cell.white {
  background-color: white;
}

.cell.black {
  background-color: black;
}

.cell.red {
  background-color: red;
}

.btn {
  font-size: 24px;
  margin-bottom: 30px; 
  margin-left: 34%; 
  padding: 16px 32px;
  border-radius: 8px;
  background-color: #ffa215; 
  color: rgb(5, 5, 5); 
  border: none; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.btn:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background-color: #7d5216; 
}
